<!-- *** INTRO IMAGE ***
_________________________________________________________ -->
<div id="intro" class="clearfix">
<div class="item">
<div class="container">
<div class="row">
<div class="carousel-caption">
<div data-animate="fadeInDown" class="logo">
<!--img src="images/3.png" alt="logo" width="220"-->
</div>
<h1 data-animate="fadeInDown" style="color:black;">Welcome</h1>
<h2 data-animate="slideInUp" style="color:black;">PAWN-Configuration Manager for Docker Cluster</h2>
</div>
</div>
</div>
</div>
</div>

<!-- *** INTRO IMAGE END *** -->