<div class="section" id="signin">
<div class="container">
<div class="mb20">
<h2 class="title" data-animate="fadeInUp"> Login</h2>


<form method="POST" action="/login">

<p class="lead" data-animate="fadeInUp">

<div style="position:relative;" class="input-list style-1 clearfix">
</div>
<br/>
<button type="submit" style="background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"> Login </button>&nbsp

</p>
</form>

</div>
<div class="col-sm-12">
<form method="GET" action="/payment">
<h1>Plans available</h1>
    <div class="row">
<div class="col-md-6" data-animate="fadeInUp">
<h3 class="heading"><input type="radio" name="plan" value="individual">  Individual</h3>
<p>&nbsp; &nbsp; &nbsp; Work on a project individually</p>
<p>&nbsp; &nbsp; &nbsp; keep track of the project and stats</p>

</div>

<div class="col-md-6" data-animate="fadeInUp">
<h3 class="heading"><input type="radio" name="plan" value="Organisation">  Organisation</h3>
<p>&nbsp; &nbsp; &nbsp;  Add multiple people</p>
<p>&nbsp; &nbsp; &nbsp;  Work on multiple projects simaltaneously</p>
<p>&nbsp; &nbsp; &nbsp;  Keep track of individual work, stats, progress</p>


</div>
<button type="submit"  style="background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;">SignUp </button>
</div>
</form>

<!-- /.12 -->
</div>
<!-- /.container -->
</div>
<!-- /.section -->