<div class="section" id="signin">
<div class="container">
<div class="col-sm-12">
    
<h1>Plans available</h1>
    <div class="row">
<div class="col-md-6" data-animate="fadeInUp">
<h3 class="heading"><input type="radio" name="plan" value="individual">  Individual</h3>
<p>&nbsp; &nbsp; &nbsp; Work on a project individually</p>
<p>&nbsp; &nbsp; &nbsp; keep track of the project and stats</p>    
</div>

<div class="col-md-6" data-animate="fadeInUp">
<h3 class="heading"><input type="radio" name="plan" value="Organisation">  Organisation</h3>
<p>&nbsp; &nbsp; &nbsp;  Add multiple people</p>
<p>&nbsp; &nbsp; &nbsp;  Work on multiple projects simaltaneously</p>
<p>&nbsp; &nbsp; &nbsp;  Keep track of individual work, stats, progress</p>

    
</div>
</div>
<div class="mb20">
<h2 class="title" data-animate="fadeInUp"> Login/Sign up</h2>
    
    

<p class="lead" data-animate="fadeInUp">Click on the button below to either login or sign up</p>
    
<button type="submit"><a href="login/index.html">Login/Signup </a></button>
    
</div>


</div>
<!-- /.12 -->
</div>
<!-- /.container -->
</div>
<!-- /.section -->