<h3>Upgarde to Pro</h3>
<form action="/payment" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_oIrA7qYeky3E70KpkFtky8Dl"
    data-amount="999"
    data-name="Pawn Payment"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>

</form>
