<!doctype html>
<html lang="en">
<head>
<head>
	<% include dashboard_basic/head.ejs %>
  <title>Dashboard</title>
</head>
</head>
<body>

<div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            
            <div class="container-fluid">
                <div id="stage" style="background:#00008B">
                        <h3 id="spinner" style="background: #4d4dff; text-align: center; color: #fff;">PAWN</h3>
                    </div>
                
                <div class="collapse navbar-collapse">
                    
                    <ul class="nav navbar-nav navbar-left" style="position:absolute;right:20px;top:10px;">
                        <li>
                           <a href="index.ejs">
                               Home
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
              
            </div>
            
        </nav>
        
<!-- List of all the projects and add/delete projects-->
    <div style="width:1020px;height: 320px;background-color:#FFFFFF;">
         
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color:green">
         Project 1 <i class="fa fa-lightbulb-o" style="font-size:20px;position:relative;left:800px;"></i>
          <span class="glyphicon glyphicon-remove-sign" style="float:right;"></span>
    
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <table border="1" style="width:300px">
           <thead>
               <tr>
           <th> <strong>Users</strong></th>
           <th> <strong>Project 1 Stats </strong></th>
               </tr></thead>
            <tr><button type="button" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;">Workspace diagram</button></tr>
                  <tr>
                        <td>Roy</td>
                        <td>CPU</td>
                  </tr>
                  <tr>
                        <td>Hanks</td>
                        <td>Memory</td>
                  </tr>
                  <tr>
                        <td>Lily</td>
                        <td>Network</td>
                  </tr>
                  <tr>
                        <td>Evanks</td>
                        <td>I/O</td>
                  </tr>
           </table> 
     
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:green">
          Project 2 <i class="fa fa-lightbulb-o" style="font-size:20px;position:relative;left:800px;"></i>
          <span class="glyphicon glyphicon-remove-sign" style="float:right;"></span>
  
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <table border="1" style="width:300px">
           <thead>
               <tr>
           <th> <strong>Users</strong></th>
           <th> <strong>Project 1 Stats </strong></th>
               </tr></thead>
            <tr><button type="button" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;">Workspace diagram</button></tr>
                  <tr>
                        <td>Hanks</td>
                        <td>Memory</td>
                  </tr>
                  <tr>
                        <td>Lily</td>
                        <td>Network</td>
                  </tr>
                  <tr>
                        <td>Evanks</td>
                        <td>I/O</td>
                  </tr>
           </table> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:green">
         Project 3 <i class="fa fa-lightbulb-o" style="font-size:20px;position:relative;left:800px;"></i>
          <span class="glyphicon glyphicon-remove-sign" style="float:right;"></span>
  
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <table border="1" style="width:300px">
           <thead >
               <tr>
           <th> <strong>Users</strong></th>
           <th> <strong>Project 1 Stats </strong></th>
               </tr></thead>
            <tr><button type="button" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;">Workspace diagram</button></tr>
                  <tr>
                        <td>Roy</td>
                        <td>CPU</td>
                  </tr>
                  <tr>
                        <td>Hanks</td>
                        <td>Memory</td>
                  </tr>
           </table> 
      </div>
    </div>
  </div>
         <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color:green">
         Project 4 <i class="fa fa-lightbulb-o" style="font-size:20px;position:relative;left:800px;"></i>
          <span class="glyphicon glyphicon-remove-sign" style="float:right;"></span>
     
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
       <table border="1" style="width:300px">
           <thead>
               <tr>
           <th> <strong>Users</strong></th>
           <th> <strong>Project 1 Stats </strong></th>
               </tr></thead>
           <tr><button type="button" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;">Workspace diagram</button></tr>
       <tr>
                        <td>Roy</td>
                        <td>CPU</td>
                  </tr>
                  <tr>
                        <td>Hanks</td>
                        <td>Memory</td>
                  </tr>
                  <tr>
                        <td>Lily</td>
                        <td>Network</td>
                  </tr>
           </table> 
      </div>
    </div>
  </div>
          <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color:green">Add a new project<i class="fa fa-lightbulb-o" style="font-size:20px;position:relative;left:800px;"></i>   <span class="glyphicon glyphicon-plus-sign"></span>
          <span class="glyphicon glyphicon-remove-sign" style="float:right;"></span>
     
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
    
 
    </div>
    
  
<div class="row">
      <div id="chartdiv" style="height: 320px; background-color: #FFFFFF;" class="col-sm-7"></div>
   <div class="col-sm-9" style="width:430px;height: 320px;background-color:#FFFFFF;float:left;"> &nbsp;&nbsp;&nbsp;&nbsp;
     
     <strong style="font-size:20px;top:40px;font-family:verdana;"> Add users</strong>
      <p>Enter the details of the user you want to add</p> 
       <form action="post">
           <p> Name: <input type="text" size="45"></p>
           <p> Email:  &nbsp;<input type="email" size="45"></p>
           <button type="button" value="Add" style="float:right;background-color: #008CBA;font-size: 15px;padding: 10px 20px;border-radius: 8px;">Add</button>
       </form>
    </div>
    </div>
    </div>
  
     <div class="sidebar" data-color="azure" data-image="/images/sidebar-5.jpg">
         <div class="sidebar-wrapper">
    
            <ul class="nav">
                <li class="active">
                    <a href="dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user">
                        <i class="pe-7s-user"></i>
                        <p>User Settings</p>
                    </a>
                </li>
                <li>
                    <a href="drag1">
                        <i class="pe-7s-news-paper"></i>
                        <p>Create Project</p>
                    </a>
                </li>
                <li>
                    <a href="index">
                        <i class="pe-7s-bell"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>
    <script type="text/javascript">
      AmCharts.makeChart("chartdiv",
        {
          "type": "serial",
          "categoryField": "Projects",
          "rotate": true,
          "startDuration": 1,
          "categoryAxis": {
            "gridPosition": "start"
          },
          "trendLines": [],
          "graphs": [
            {
              "balloonText": "[[title]] of [[value]]",
              "fillAlphas": 1,
              "id": "AmGraph-1",
              "title": "No. of users",
              "type": "column",
              "valueField": "column-1"
            },
            {
              "balloonText": "[[title]] of [[value]]",
              "fillAlphas": 1,
              "id": "AmGraph-2",
              "title": "Status of the Project in %",
              "type": "column",
              "valueField": "column-2"
            }
          ],
          "guides": [],
          "valueAxes": [
            {
              "id": "ValueAxis-1",
              "title": ""
            }
          ],
          "allLabels": [],
          "balloon": {},
          "legend": {
            "enabled": true,
            "useGraphSettings": true
          },
          "titles": [
            {
              "id": "Title-1",
              "size": 15,
              "text": "Projects"
            }
          ],
          "dataProvider": [
            {
              "Projects": "Project 1",
              "column-1": 8,
              "column-2": 55
            },
            {
              "Projects": "Projects 2",
              "column-1": 6,
              "column-2": 90
            },
            {
              "Projects": "Projects 3",
              "column-1": 10,
              "column-2": 9
            },
            {
              "Projects": "Projects 4",
              "column-1": 4,
              "column-2": 45
            }
          ]
        }
      );
    </script>
    
<script type="text/javascript" src="/assets/script/canvasjs.min.js"></script> 
     <% include dashboard_basic/jsdefaults.ejs %>
    
</body>
   
</html>